$padding-size: 5px;

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: 60px;
    .left{
        display: grid;
        grid-template-rows: 1fr 1fr;
        .todo-info{
            font-size: 14px;
            display: grid;
            grid-template-columns: 2fr 1fr;

            .time{
                color: #52AA63;
                grid-template-columns: 1fr 5fr;        
                display: grid;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .right{
        display: grid;
        justify-content: flex-end;
        align-items: center;
        .check-box{
            width: 20px;
            height: 20px;
            border: 2px solid black;
        }

        .checked {
            position: relative;
            padding: $padding-size;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent; // padding color
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                top: $padding-size;
                left: $padding-size;
                right: $padding-size;
                bottom: $padding-size;
                background-color: black; // actual background color
                z-index: -1;
            }
        }

        
    }
    // .todo-name{
    //     width: fit-content;
    // }
    // .todo-checkbox{
    //     width: fit-content;
    // }
}